.card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  min-height: 15rem;
  width: 21rem;
  margin-top: 2rem;
}
.image {
  border-radius: 1rem;
  width: 90%;
}
.title {
  font-size: 1.15rem;
  font-weight: 600;
}
.card > p:last-child {
  color: #6f6f6f;
  font-weight: 600;
  font-size: 1rem;
}
.card > p:last-child > span {
  font-weight: normal;
}
